
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;
color: black;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


/*-----------------------------------------------------------------------------------------*/
html, body{
	background-image: url("img/keys.jpg");
	background-repeat: repeat; 
	height: 100%;  
	margin: 0;
}
.wrapper{
	display: flex;
	flex-direction: column;
	max-width: 1040px;
	min-height: 100vh; 
	margin: 0 auto;
	background-color: white;
}


header {
    display: flex;          
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: auto;            
    background-color: rgb(211, 210, 210);
    gap: 20px;                 
}

.title-icon {
    flex: 0 0 auto;          
    height: 100px;
}

.main-menu {
    flex: 1 1 auto;         
    display: flex;
    gap: 20px;
    justify-content: center;    
    flex-wrap: wrap;       
	z-index: 200;
}

.menu-item{
	background-color: white;
	padding: 10px 10px;
	border-radius: 50px;
	border: 2px solid rgb(211, 210, 210);
}

.menu-item:hover{
	background-color: rgba(211, 210, 210, 0);
	border:  2px solid white;
}

.user-account {
    flex: 0 1 auto;          
    display: flex;
    gap: 10px; 
	justify-content: flex-end; 
}

.my-account{
	background-color: white;
	padding: 10px 10px;
	border-radius: 50px;
	border: 2px solid rgb(211, 210, 210);
}

.my-account:hover{
	background-color: rgb(211, 210, 210);
	border:  2px solid white;
}

.burger {
	display: none; 
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: white;
}

/*-----------------------------------------------------------------------------------------*/


.feedback-form{
	margin: 20px auto;
	max-width: 500px;
    background-color: rgb(211, 210, 210);
	flex: 1 0 auto;
	padding: 20px;
}
.feedback-form h1{
	margin-bottom: 10px;
}
.feedback-form form{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.feedback-form form fieldset{
	display: flex;
	flex-direction: column;
}

.feedback-form form fieldset legend{
	padding-bottom: 10px;
}

.feedback-form form button{
	height: 40px;
	text-align: center;
}

.textarea-wrapper {
    position: relative; 
    width: 100%; 
}
#details {
    transition: all 0.3s ease;
    width: 100%; 
    box-sizing: border-box; 
}
#details.is-hovered {
    background-color: rgb(211, 210, 210); 
    border: 3px solid rgb(145, 142, 142); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}
.tooltip-text.is-active {
    visibility: visible;
    opacity: 1;
}

.tooltip-text {
    /* Ховаємо її */
    visibility: hidden;
    opacity: 0;
    background-color: #333; 
    color: #fff;            
    text-align: left;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.9em;
    width: 220px; 
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 102%; 
    transform: translateY(-50%); 
    transition: opacity 0.3s ease;
}
@media (max-width: 768px) {
    .tooltip-text {
        left: 0;
        top: 100%; 
        transform: translateY(0); 
        margin-top: 5px; 
        width: 100%; 
        box-sizing: border-box; 
    }
}

/*-----------------------------------------------------------------------------------------*/

footer{
	margin-top: 20px;
    background-color: rgb(211, 210, 210);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
}

footer>div{
	padding-top: 20px;
}

.footer-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	width: 100%;
}

.brand{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contacts{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.links{
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.footer-bottom{
	padding-bottom: 20px;
}

/* about */

#about-head{
	position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: rgb(211, 210, 210);
    gap: 20px;
    z-index: 10; 

}

.about-main{	
	display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px; 
    padding: 20px 30px; 
}

.blank{
	height: 150px;
	width: 100vw;
}


.about, .services {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.about h2::before{
	content: "🛠️🚗";
	position: absolute;
	top: -20px;
}

.about h3,h2{
	padding: 20px 0px 0px 10px;
	position: relative;
}

.about ol{
	padding-left: 20px;
}

.services:hover{
	transform: translateY(2vh);
	transition: all 0.3s ease; 
}

[class = contacts]:hover{
	font-size: large;
	transition: all 2s ease; 
}


.services { 
	overflow-x: auto; 
}
.services table {
	min-width: 900px; 
	width: 100%;
}

.floating-icon {
	position: absolute;
	opacity: 0;
	animation: fadeInOut 5s ease-in-out; 
	pointer-events: none; 
	z-index: 20; 
}
.main-link, .main-menu, .burger, .user-account {
	position: relative; 
	z-index: 30;
}

@keyframes fadeInOut {
	0% {
    	opacity: 0;
    	transform: scale(0.8); 
	}
	50% {
    	opacity: 0.7; 
    	transform: scale(1);
	}
	100% {
		opacity: 0;
    	transform: scale(0.8); 
	}
}

/* catalog */



#catalog-header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: rgb(211, 210, 210); 
    gap: 20px;
    z-index: 50;
}


.service{
	margin-top: 40px;
}

.services-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 20px;
	padding: 0;
	margin: 20px 0;
}


.service-item{
	margin-top: 15px;
	border: 2px darkgoldenrod solid;
	border-top: 2px darkgoldenrod dotted;
	background: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	padding: 15px;
	transition: transform 0.2s ease;
}
.service-item:hover {
	transform: translateY(-5px);
	/* background-color: grey;
	border: 2px solid red; */
}
.service-item img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 8px;
	margin-bottom: 10px;
}

.service-item img:hover {
    filter: none;
    transition: none;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 200px; 
    perspective: 1000px; /* Глибина 3D-сцени */
    margin-bottom: 10px; 
    border-radius: 8px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card-inner.is-flipped {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
}
.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flip-card-back {
    background-color: #f0f0f0;
    color: #5d6167;
    padding: 20px;
    transform: rotateY(180deg); 
    box-sizing: border-box; 
}
.flip-card-back h4 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.flip-card-back p {
    font-size: 0.9rem;
    line-height: 1.4;
}

.service-item ul {
	padding-left: 20px;
	font-size: 0.95rem;
	color: #555;
}
.service-item ul li:first-child{
	font-weight: 700;   
    font-size: 18px;    
    font-style: italic; 
    line-height: 1.5;    
}

.service-item h2 {
	font-size: 1.2rem;
	margin: 10px 0;
	color: #333;
}

.details-trigger {
    background: none;
    border: none;
    color: #5c6268; 
    cursor: pointer;
    padding: 0;
    font-size: 0.9em;
    display: inline-block; 
    margin: 10px;
    transition: color 0.2s;
}
.details-trigger:hover {
    color: #282c30;
}
.service-details {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding-left: 20px; 
    transition: max-height 0.4s ease-out;
}
.details-trigger.active + .service-details {
    max-height: 500px; 
    margin-top: 10px; 
    transition: max-height 0.5s ease-in;
}

.catalog{
	padding: 150px 30px 0 30px;
}

.back-button{
	padding-top: 20px;
	display: block;
}
.back-button:active{
	color: darkgreen;
}


/* media */

@media (max-width: 532px) {
	.feedback-form{
		margin:  20px;
	}
}

@media (max-width: 649px) {
	.links{
		margin-top: 40px;
	}
	.contacts{
		margin-top: 20px;
	}
}




@media (max-width: 768px) {
    .burger {
        display: flex; 
    }

    .main-menu {
        flex-direction: column;
        position: absolute;
        right: 0; 
        top: 100px; 
        background-color: #333; 
        width: 200px;
        padding: 10px;
        border-radius: 5px;
        z-index: 200; 
        display: none;
    }
    .main-menu.active {
        display: flex;
    }
}


@media (max-width: 800px) {
    .about-main {
        grid-template-columns: 1fr; 
    }
}



